/.lake/
.lake
/build/
*.olean
*.ilean
*.trace
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.prof
*.icloud
.DS_Store
*.swp
*~
.vscode/
.vs/
.texpadtmp/
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*-blx.bib
*.pdf
